# ===============================================
# all.snippets --- Snippet for Everything
# ===============================================

snippet date "date it"
${3:`date +%Y`.${2:`date +%m`.${1:`date +%d`}}}
endsnippet
